#root {
    /*max-width: 1280px;*/
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.left-menu, .right-menu {
    position: fixed;
    top: 0;
    overflow-y: auto;
    padding-left: 20px;
    padding-top: 30px;
}

.left-menu {
    width: 200px;
    height: 100vh;
    left: 0;
    background-color: #f9f9f9;
}

.right-menu {
    width: 100px;
    height: 100vh;
    right: 0;
    background-color: #f9f9f9;
}

.app-container {
    display: flex;
    flex-direction: row;
}

.main {
    margin-left: 200px;
    margin-right: 200px; 
}

.main-content {
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: white;

}

.left-menu ul, .right-menu ul {
    list-style-type: none; /* Убирает маркеры списка */
    padding: 0; /* Убирает отступы внутри списка */
    margin: 0; /* Убирает внешние отступы списка */
}

.left-menu li, .right-menu li {
    padding: 16px 8px; /* Увеличен отступ сверху и снизу */
}
